magnum

Positional arguments:
  <subcommand>
    bay-create          Create a bay.
    bay-delete          Delete specified bay.
    bay-list            Print a list of available bays.
    bay-show            Show details about the given bay.
    bay-update          Update information about the given bay.
    baymodel-create     Create a baymodel.
    baymodel-delete     Delete specified baymodel.
    baymodel-list       Print a list of bay models.
    baymodel-show       Show details about the given baymodel.
    container-create    Create a container.
    container-delete    Delete specified containers.
    container-execute   Execute command in a container.
    container-list      Print a list of available containers.
    container-logs      Get logs of a container.
    container-pause     Pause specified containers.
    container-reboot    Reboot specified containers.
    container-show      Show details of a container.
    container-start     Start specified containers.
    container-stop      Stop specified containers.
    container-unpause   Unpause specified containers.
    node-create         Create a node.
    node-list           Print a list of configured nodes.
    pod-create          Create a pod.
    pod-delete          Delete specified pod.
    pod-list            Print a list of registered pods.
    pod-show            Show details about the given pod.
    pod-update          Update information about the given pod.
    rc-create           Create a replication controller.
    rc-delete           Delete specified replication controller.
    rc-list             Print a list of registered replication controllers.
    rc-show             Show details about the given replication controller.
    rc-update           Update information about the given replication
                        controller.
    service-create      Create a service.
    service-delete      Delete specified service.
    service-list        Print a list of services.
    service-show        Show details about the given service.
    service-update      Update information about the given service.
    bash-completion     Prints arguments for bash-completion. Prints all of
                        the commands and options to stdout so that the
                        magnum.bash_completion script doesn't have to hard
                        code them.
    help                Display help about this program or one of its
                        subcommands.
